#root {
    display: grid;
    grid-template-columns: 17% 83%;
    height: 100%;
}

main>.section {
    width: 50%;
    padding: 1rem 2.5rem;
}

/* sidebar css */
.sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
    width: 100%;
    height: 100%;
    padding-block: .5rem;

    background: var(--dark-blue-200);

}

.sidebar .sidebar_top {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.sidebar .sidebar_top .sidebar_label {
    font-size: 3rem;
}

.sidebar .projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .5rem;

}

.sidebar .projects .project {
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-align: center;
    text-transform: uppercase;
    font-size: 1.4rem;
    width: 100%;
    height: 4rem;
    background: transparent;
    color: var(--light);
    transition-property: background, border-radius;
    transition: 300ms ease;

}

.sidebar .projects .project:hover,
.sidebar .projects .project.active {
    background: var(--dark-blue-500);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.sidebar .projects .project .delete {
    display: none;
    visibility: hidden;
}

.sidebar .projects .project.active .delete {
    flex: .2;
    display: block;
    visibility: visible;
    margin-inline-end: .5rem;
}

.sidebar .projects .project #project-span {
    text-align: left;
    cursor: pointer;
    padding-block: .5rem;
    padding-inline: 1rem 0;
    flex: 1;
}

.sidebar .projects .project.active #project-span {
    margin-inline-end: .8rem;
    border-right: 1px solid red;
}

.sidebar .projects .project>button {
    border: none;
    background: transparent;
}

/* Project Form CSS */
.form-section-title {
    text-align: center;
}

.project-form {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.project-form .form-group {
    display: flex;
    flex-direction: column;
}

.project-form .form-group label {
    margin-block-end: .4rem;
    text-transform: uppercase;
    font-weight: 600;
}

.project-form .form-group input,
.project-form .form-group textarea {
    padding: .5rem 1rem;
}

.project-form .form-group #error-message-container {
    display: block;
    height: 1.4rem;
    font-size: 1.4rem;
    color: var(--red-error);
    visibility: hidden;
}

.project-form.has-error .form-group #error-message-container {
    visibility: visible;
}

.project-form .button {
    width: 20rem;
    margin-block: 0;
    margin-inline: auto;
}

/* No Selected Project CSS */
.no-selected-project .button {
    margin-block-start: 1rem;
    width: 12rem;
}

/* Selected Project CSS */
.selected-project {
    display: grid;
    gap: 2rem;
}

.selected-project .selected-project-top {
    display: flex;
    justify-content: space-between;
}

.selected-project .details-div,
.selected-project .action-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.selected-project label[for="tasks"] {
    color: var(--light-blue-50);
    font-size: 1.8rem;
}

.selected-project .details-div .date {
    font-size: 1.4rem;
    color: var(--light-blue-200);
}

.selected-project .details-div .name {
    text-transform: uppercase;
}

.selected-project .description {
    margin-block-start: 1rem;
}

.selected-project .task-form {
    display: flex;
    margin-block-end: 1rem;
}

.selected-project .task-form input {
    flex: 1;
    margin-inline-end: 1rem;
    padding: .5rem 1rem;
}

.selected-project .delete-project-button .icon {
    margin: 0 1rem;
    color: var(--light);
    transition-property: color;
    transition: 250ms ease;
}

.selected-project .delete-project-button:hover .icon {
    color: var(--red-error);
}

.selected-project .selected-project-bottom .tasks {
    margin-block-start: 2rem;
}

.selected-project .selected-project-bottom .tasks .task {
    margin-block-end: .8rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    border-bottom: .5px solid var(--light-blue-200);
}

.selected-project .selected-project-bottom .tasks .task.completed>.task-text {
    text-decoration: line-through;
}

.selected-project .selected-project-bottom .tasks .task.completed> :not(.delete-task-button) {
    opacity: .5;
    pointer-events: none;
}

.selected-project .selected-project-bottom .tasks .task input[type="checkbox"] {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    transition: box-shadow .3s;
    background: lightblue;
    cursor: pointer;
    border: 0;
    appearance: none;
    -webkit-appearance: none
}

.selected-project .selected-project-bottom .tasks .task input[type="checkbox"]:checked {
    box-shadow: inset 0 0 0 1rem blue;
}

.selected-project .selected-project-bottom .tasks .task>span.task-text {
    text-align-last: left;
    flex: 1;
}

.selected-project .selected-project-bottom .tasks .task>span.numbering {
    width: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected-project .selected-project-bottom .tasks .task>.delete-task-button {
    background: transparent;
    color: var(--red-error);
    border: none;
    transition-property: opacity;
    transition: 250ms ease;
}

.selected-project .selected-project-bottom .tasks .task>.delete-task-button:hover {
    opacity: .9;
}
