#root {
    display: grid;
    grid-template-columns: 15% 85%;
    height: 100%;
}

main > .section {
    width: 50%;
    padding: 1rem;
}

/* sidebar css */
.sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
    width: 100%;
    height: 100%;
    padding-block: .5rem;

    background: var(--dark-blue-200);

}

.sidebar .sidebar_top {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.sidebar .sidebar_top .sidebar_label {
    font-size: 3rem;
}

.sidebar .projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .5rem;

}

.sidebar .projects .project {
    display: flex;
    justify-content: center;

    cursor: pointer;
    padding-block: .5rem;
    text-align: center;
    width: 100%;
    height: 4rem;
    background: transparent;
    color: var(--light);
    transition-property: background, border-radius;
    transition: 300ms ease;

}

.sidebar .projects .project:hover,
.sidebar .projects .project.active {
    background: var(--dark-blue-500);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.sidebar .projects .project>button {
    border: none;
    background: transparent;
}

/* Project Form CSS */
.form-section-title {
    text-align: center;
}

.project-form {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.project-form .form-group {
    display: flex;
    flex-direction: column;
}

.project-form .form-group label {
    margin-block-end: .4rem;
    text-transform: uppercase;
    font-weight: 600;
}

.project-form .form-group input,
.project-form .form-group textarea {
    padding: .5rem 1rem;
}

.project-form .form-group #error-message-container {
    display: block;
    height: 1.4rem;
    font-size: 1.4rem;
    color: var(--red-error);
    visibility: hidden;
}

.project-form.has-error .form-group #error-message-container {
    visibility: visible;
}

.project-form .button {
    width: 20rem;
    margin-block: 0;
    margin-inline: auto;
}

/* No Selected Project CSS */
.no-selected-project .button {
    margin-block-start: 1rem;
    width: 12rem;
}
