:root {
    /* font family */
    --font-family: "Poppins", sans-serif;

    /* colors */
    --red-error: #ed0e0e;
    --dark-green: #61892f;
    --light-green: #86c232;
    --dark-blue-500: #0D0F14;
    --dark-blue-200: #222629;
    --light-blue-200: #474b4f;
    --light-blue-100: #6b6e70;
    --light-blue-50: #a8a8a8;
    --light: #F1EEDC;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--font-family);
    background: var(--dark-blue-500);
    color: var(--light);
}

html,
body {
    height: 100lvh;
}

ul {
    list-style: none;
}

button {
    background: inherit;
    color: inherit;
    cursor: pointer;
}

.button {
    font-size: 1.4rem;
    border: none;
    border-radius: .8rem;
    background: var(--light-green);
    color: var(--light);
    font-weight: 500;
    transition-property: background;
    transition: 300ms ease-in-out;
    padding-block: .8rem;
    padding-inline: .8rem;
}

.button:hover {
    background: var(--dark-green);
}

.button.cancel{
    margin-inline-end: 1rem;
    background: transparent;
    color: var(--light);
    border: 1px solid var(--light);
    transition-property: background;
    transition: 300ms ease-in-out;
}

.button.cancel:hover{
    background: var(--light-green);
}
